body {
    background-color: pink;
    margin: 5%;
    padding: 5%;
}

p {
    font-family: 'Goblin One', cursive;
}

h1 {
    text-align: center;
}

#link {
    color: black;
    text-decoration: none;
}